doctype html
html
  head
    title Steam Sales Data Visualizer

    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='ext/c3.min.css')

    script(src='ext/d3.min.js')
    script(src='ext/c3.min.js')
    script(src='ext/jquery.min.js')
    script(src='ext/moment-with-locales.min.js')
    script(src='ext/papaparse.min.js')
    script(src='ext/underscore-min.js')
    script(src='app.js')

  body
    div.filedrop
      | Drop your Steam sales data CSV file here to visualize.
      br
      | Your CSV is processed entirely in your browser; no data is sent anywhere.

    div.loadinganim
      div.rect1
      div.rect2
      div.rect3
      div.rect4
      div.rect5

    div.graphics

    div.footer
      p Steam Sales Data Visualizer
      p Created by <a href="http://nickgravelyn">Nick Gravelyn</a> of <a href="http://brushfiregames.com">Brushfire Games</a>
      p Open source on <a href="https://github.com/nickgravelyn/steam-sales-data-visualizer">Github</a>.
      a(href='http://brushfiregames.com')
        img(src='http://brushfiregames.com/images/logo.png')
