body {
  font-family: sans-serif;
  font-size: 12pt;
  max-width: 900px;
  margin: 1em auto;
  background: #EEE;
  color: #555;
  text-align: center;
}

a, a:visited, a:active, a:hover {
  color: #249FC1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  img {
    border: 0;
  }
}

.filedrop {
  padding: 1em;
  max-width: 550px;
  margin: 0 auto;
  color: #999;
  border: 1px dashed #999;

  &.active {
    background: lightBlue;
  }
}

.footer {
  margin-top: 5em;
  font-size: 10pt;
  color: #AAA;

  p {
    margin: 0.25em;
  }

  img {
    max-height: 100px;
  }
}
